* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-width: 100%;
    min-height: 100%;
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #0d1129;
}

.topbar__heading {
    font-size: 2.5rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    color: #fff;
}

/**TIMELINE CIRCLE**/
.timeline-shape {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: rem 0;
    height: 5rem;
}

.timeline-circle,
.timeline-bar {
    display: block;
}

/*TIMELINE CIRCLE*/
.timeline-circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    /* background-color: #0d1129; */
    border: solid 3px lightgray;
    cursor: pointer;
}

.timeline-circle--active {
    width: 30px;
    height: 30px;
    background-color: #4656b1a2;
}

/*TIMELINE BAR*/
.timeline-bar {
    width: 100px;
    height: 3px;
    background-color: lightgray;
}

/*DEGREE*/

.degrees-box {
    padding: 2.5rem;
}

.degrees-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* margin: 1.5rem 2.5rem; */
}

.degrees-list::-webkit-scrollbar {
    display: none;
}

.degree {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: solid 2px lightgray;
    border-radius: 10px;
    width: 15rem;
    margin: 0 1rem;
    background-color: white;
}

.degree__icon {
    font-size: 1.5rem;
    color: rgb(50, 38, 102);
    /* margin-bottom: 1rem; */
}

.degree-obtenation-date {
    margin: 1rem 0;
    display: block;
    text-align: center;
}

.degree__degree-name-and-place {
    line-height: 1.5rem;
    margin-top: 1rem;
    text-align: center;
}

.degree__degree-name {
    font-weight: 700;
    font-size: 20px;
    display: block;
}

.degree__skills-list {
    margin: 1rem 0;
    line-height: 1.5rem;
}

.degree__skill {
    background-color: rgb(253, 37, 37);
    color: white;
    border-radius: 5px;
    padding: 3px 5px 1px;
    width: fit-content;
}
